$title-font: "Montserrat", sans-serif;
$basic-font: "Roboto", sans-serif;

$red-color: #e3390e;
$green-color: #42b1ba;

$header-backgroud-color: #f1f1f1;
$title-color: #1e273a;
$text-color: #3f3f3f;
$cta-color: $red-color;
$select-color: $green-color;

@import "reset";

.right-edge:after {
  content: "";
  height: 100%;
  position: absolute;
  top: -9%;
  right: -2%;
  z-index: 2;
}

.header {
  padding: 28px 0 18px 0;
  border-bottom: 3px solid #3e4b66;
  &__search {
    margin: 5px 0 0 0;
  }
  &__currency {
    margin: 5px 0 0 34px;
    &__list {
      z-index: 109;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 6px 0 0 57px;
  }
  &__navigation {
    margin: 27px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 2px solid #eeeeee;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__main {
    font-family: $title-font;
    font-size: 40px;
    font-weight: 900;
    line-height: 36px;
    color: $red-color;
    &_color_green {
      color: $green-color;
    }
    &_color_black {
      color: #3d4b66;
    }
    &_color_white {
      color: #fff;
    }
    &_style_italic {
      font-style: italic;
    }
    &_font_size_small {
      font-size: 30px;
    }
  }
  &__sub {
    font-size: 10px;
    line-height: 106%;
    padding-left: 8px;
  }
}

.search {
  position: relative;
  &__line {
    font-size: 17.5px;
    width: 100%;
    padding: 3px 17px;
    background: $header-backgroud-color;
    border: none;
    border-radius: 30px;
    outline: none;
  }
  &__button {
    background: transparent;
    height: 30px;
    width: 30px;
    border: none;
    position: absolute;
    top: 12%;
    right: 1%;
    outline: none;
  }
  &__icon {
    fill: #303030;
    width: 21.5px;
    height: 17.5px;
    transition: 0.4s;
    &:hover {
      fill: $select-color;
    }
  }
}

.currency {
  display: flex;
  align-items: center;
  &__title {
    font-size: 14px;
    line-height: 120%;
  }
  &__list {
    margin-left: 9.5px;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #242424;
    background: $header-backgroud-color;
    border-radius: 30px;
    position: relative;
  }
}

.user {
  padding: 0 0 0 45px;
  position: relative;
  &__icon {
    width: 22px;
    height: 22px;
    transition: 0.4s;
    &:hover {
      fill: $green-color;
    }
  }
  &__popup {
    position: absolute;
    top: 115%;
    right: 0%;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(62, 75, 102, 0.15);
    border-radius: 4px;
    z-index: 105;
    display: none;
  }
  &__item {
    list-style-type: none;
    border-bottom: 1px solid #f6f6f6;
    padding: 9px 48px 9px 23px;
    font-size: 14px;
    line-height: 160%;
    position: relative;
    &:hover {
      background: #f6f6f6;
    }
    & a {
      color: $text-color;
    }
  }
  &__favorite {
    position: absolute;
    top: 27%;
    right: 7%;
    width: 20px;
    height: 20px;
  }
}

.purchases {
  padding: 0 10px;
  position: relative;
  &__basket {
    width: 25px;
    height: 25px;
    transition: 0.4s;
    &:hover {
      fill: $green-color;
    }
  }
  &__number {
    color: white;
    font-size: 10px;
    line-height: 120%;
    background: #ffbc3d;
    padding: 2px 6px;
    border-radius: 30px;
    position: absolute;
    top: -8%;
    right: -8%;
  }
}

.menu {
  width: 27px;
  height: 13px;
  border-top: 3px solid #3e4b66;
  transition: 0.4s;
  position: relative;
  display: none;
  &::after {
    content: "";
    width: 17px;
    height: 3px;
    background: #3e4b66;
    position: absolute;
    left: 0%;
    top: 90%;
    transition: 0.4s;
  }
  &:hover {
    border-color: $select-color;
  }
  &:hover::after {
    background: $select-color;
    width: 27px;
  }
  &__list {
    position: absolute;
    top: 5%;
    right: -8%;
    background: #fff;
    width: 300px;
    z-index: 101;
    display: none;
    // height: 1vh;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
    &:nth-child(2) {
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
    &:nth-child(4) {
      border-top: 1px solid #eeeeee;
    }
  }
  &__close {
    width: 21px;
    height: 21px;
    transition: 0.4s;
    &:hover {
      fill: $green-color;
    }
  }
  &__link {
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 300%;
    & a {
      color: #36425b;
      transition: 0.4s;
      &:hover {
        color: $select-color;
      }
    }
  }
  &__footer-item {
    display: inline;
    font-size: 14px;
    line-height: 250%;
    margin: 0 0 0 25px;
    & a {
      color: #3f3f3f;
      &:hover {
        color: $select-color;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  &__item {
    list-style-type: none;
  }
  &__link {
    color: #36425b;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 20px 0;
    border-bottom: 3px solid transparent;
    transition: 0.4s;
    &_select {
      color: $select-color;
      border-color: $select-color;
    }
    &:hover {
      color: $select-color;
    }
  }
}

.main {
  padding: 40px 0 0 0;
}

.main-slider {
  &_edge_right {
    clip-path: polygon(0% 0%, 100% 0%, 99% 100%, 0% 100%);
  }
  &__title {
    font-family: $title-font;
    font-size: 46px;
    font-weight: 900;
    line-height: 110%;
    padding: 37px 0px 65px 63px;
    position: relative;
    z-index: 2;
    &_color_white {
      color: #fff;
      // border: 1px solid #000;
    }
  }
  &__button {
    background: $cta-color;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: #fff;
    padding: 12px 29px;
    border-radius: 30px;
    margin: 0 0 0 60px;
    transition: background 0.4s;
    position: relative;
    z-index: 100;
    &:hover {
      color: #fff;
      background: $cta-color - 60;
    }
  }
  &__next {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 200px;
    z-index: 99;
    opacity: 0;
  }
  &__prev {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 200px;
    z-index: 99;
    opacity: 0;
  }
  &__img {
    width: 100%;
    height: 270px;
    margin: -221px 0 0 0;
    z-index: 1;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  &__dot {
    height: 8px;
    width: 8px;
    margin: 0 0 0 12px;
    list-style-type: none;
    background: #000;
    border-radius: 50%;
    transition: 0.4s;
    &_select {
      background: #31baff;
    }
    &:hover {
      background: #31baff;
      cursor: pointer;
    }
  }
}

.question {
  position: relative;
  &__title {
    font-family: $title-font;
    font-size: 34px;
    font-weight: 900;
    line-height: 120%;
    &_margin_bottom {
      margin: 0 0 37px 0;
    }
  }
  &__button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 7px 21px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: 0.4s;
    position: absolute;
    top: 69%;
    margin: 0 0 0 40px;
    display: block;
    z-index: 99;
    &_horizont {
      left: 80%;
      top: 40%;
    }
    &:hover {
      color: $select-color;
      background: #fff;
    }
  }
  &::after {
    content: "";
    background: url(../img/create-bg.svg) no-repeat;
    height: 236px;
    width: 167px;
    position: absolute;
    top: 14%;
    right: -7%;
  }
  &_horizont {
    &::after {
      background: url(../img/seller-img.svg) no-repeat;
      height: 169px;
      width: 289px;
      position: absolute;
      top: -10%;
      right: 33%;
      z-index: 0;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $green-color;
    color: #fff;
    padding: 34px 119px 78px 36px;
    position: relative;
    height: 270px;
    &_horizont {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 29px 37px 24px 59px;
      height: auto;
    }
    &_edge_left {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1.5% 100%);
    }
    &_edge_right {
      clip-path: polygon(0% 0%, 100% 0%, 99.5% 100%, 0% 100%);
    }
  }
}

.advantages {
  margin: 50px 0 0 0;
}

.advantage {
  display: flex;
  padding: 0 0 47px 0;
  &_img_margin_left img {
    margin: 0 9px 0 -19px;
  }
  &__wrap {
    padding: 0 15px 0 18px;
  }
  &__title {
    font-size: 17px;
    font-weight: bold;
    line-height: 150%;
    color: $title-color;
  }
  &__text {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 160%;
    color: $text-color;
  }
}

.seller {
  margin: 61px 0 0 0;
}

.recent {
  padding: 17px 0 12px 0;
  border-top: 1px dashed #e1e0e0;
  border-bottom: 1px dashed #e1e0e0;
}

.product-tile {
  text-align: left;
  position: relative;
  min-height: 275px;
  &__picture {
    width: 100%;
    &_edge_left {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%);
    }
    &_edge_top {
      clip-path: polygon(0% 0%, 100% 2%, 100% 100%, 0% 100%);
    }
    &_edge_right {
      clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%);
    }
    &_edge_bottom {
      clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 100%);
    }
  }
  &__description {
    font-size: 14px;
    line-height: 160%;
    color: $text-color;
    padding: 11px 0;
  }
  &__price {
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-family: $title-font;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: $title-color;
    transition: 0.4s;
    &:hover {
      color: $select-color;
    }
    &_color_red {
      color: $cta-color;
    }
  }
  &__discount {
    color: $title-color;
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background: $cta-color;
      position: absolute;
      top: 50%;
      left: 0%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -40%;
      left: -128%;
      width: 244px;
      height: 100px;
      background: url(../img/discount.svg) no-repeat;
      background-size: contain;
    }
  }
}

.slider {
  width: 106%;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    width: 50px;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 99;
  }

  &__nav {
    margin: 0 -62px 0 0;
    padding: 29px 0 0 0;
    display: flex;
    justify-content: flex-end;
  }
  &__arrow {
    width: 80px;
    height: 15px;
    transition: 0.4s;
    &_prev {
      transform: rotate(180deg);
    }
    &:hover {
      fill: $select-color;
    }
  }
}

.swiper {
  &-button-disabled {
    opacity: 0;
  }
  &-slide {
    min-width: 265px;
    min-height: 290px;
    margin: 0 23px 0 0;
  }
}
.reviews {
  padding: 23px 0 0 0;

  &__slide {
    margin: 0 24px 0 0;
    min-width: 359px;
  }
}

.review {
  padding: 5px 15px 0 0;
  position: relative;
  min-height: 260px;
  &__star {
    width: 20px;
    height: 20px;
    fill: #ececec;
    margin: 0 6px 0 0;
    &_yellow {
      fill: #ffbc3d;
    }
  }
  &__text {
    margin: 11px 0 0 0;
    font-style: italic;
    font-size: 14px;
    line-height: 170%;
    color: $text-color;
  }
  &__wrap {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
  &__picture {
    width: 100px;
    height: 77px;
    &_edge_left {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%);
    }
    &_edge_top {
      clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  &__avatar {
    width: 75px;
    height: 75px;
    margin: 0 0 0 -13px;
    border-radius: 50px;
    z-index: 101;
    position: relative;
  }
  &__user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 15px;
    padding: 18px 0 0 0;
  }
  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1e273a;
  }
  &__date {
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
  }
}

.footer {
  margin: 60px 0 0 0;
  background: #232f3e;
  color: #fff;
  font-size: 14px;
  &__menu {
    padding: 60px 0;
  }
  &__title {
    font-family: $title-font;
    font-size: 18px;
    font-weight: 800;
    transition: 0.4s;
    & a {
      color: #fff;
      &:hover {
        color: $select-color;
      }
    }
  }
  &__list {
    margin: 10px 0 0 0;
    &_inline li {
      display: inline;
      margin: 0 0 0 33px;
      &:nth-child(1) {
        margin: 0;
      }
    }
    &_color li a {
      color: #9fa9b5;
    }
  }
  &__item {
    list-style-type: none;
    padding: 4px 0;
  }
  &__link {
    color: #bac4d0;
    transition: 0.4s;
    &:hover {
      color: $select-color;
    }
  }
  &__copyright {
    background: #131a22;
    padding: 26px 0 35px 0;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    &_float_right {
      justify-content: flex-end;
    }
  }
  &__year {
    margin-left: 24px;
    color: #9fa9b5;
  }
}

@import "media";
