* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham Pro";
  font-size: 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-align-right {
  text-align: right;
}

/* ---Header menu--- */
.menu {
  background: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 15px 0px 13px 0px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #91aef5;
}

.menu li {
  display: inline;
  margin-left: 3.8rem;
}

.menu li:nth-child(1) {
  margin-left: 0;
}

.menu a {
  color: white;
}

.menu__button-label {
  float: right;
  padding-right: 13px;
}

.menu__button a:hover > .menu__button-label {
  color: #91aef5;
}

.menu__button-icon {
  width: 28px;
  height: 12px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  float: right;
}

.menu__button a:hover > .menu__button-icon {
  border-color: #91aef5;
}

/* ---Information panel--- */
.information__block {
  margin: 40px 0 0 0px;
  width: 60%;
}

.information__block:nth-child(1) {
  margin-left: 0px;
}
.information__block:nth-child(2n) {
  width: 35%;
}

.information__text {
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, .5);
  width: 78%;
}

.information__text strong {
  font-size: 15px;
  line-height: 18px;
  color: black;
  display: block;
}

.information__icon {
  width: 18%;
}
.information__logo {
  background: url(../img/head-logo.png) #F3F3F3 center no-repeat;
  background-size: 80%;
  height: 105px;
  width: 199px;
}
