* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-size: 10px;
}
svg {
  transition: 0.3s;
}
.text-align-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.blue-button a {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  line-height: 15px;
  background: linear-gradient(
    106.57deg,
    #807fd4 0%,
    #609ce2 0.01%,
    #2346ff 100%
  );
  box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
  border-radius: 4px;
  text-decoration: none;
  transition: 0.7s;
}
.blue-button a:hover {
  opacity: 0.4;
}

.header-block {
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.more {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.more a {
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
.more svg {
  margin-left: 10px;
  height: 10px;
  width: 40px;
}
.more a:hover {
  color: #ff4081;
  transition: 0.3s;
}
.more a:hover > svg {
  fill: #ff4081;
}

/* ---Header menu--- */
.menu {
  background: black;
  text-transform: uppercase;
  line-height: 11px;
  letter-spacing: 0.1em;
}
.menu__item a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 14px 0;
  position: relative;
  overflow: hidden;
}
.menu__item a:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff4081;
  transition: all 0.3s ease-in-out;
}
.menu__item a:hover {
  color: #ff4081;
}
.menu__item a:hover:after {
  margin-top: -4px;
}

.menu__item {
  list-style-type: none;
  display: inline-flex;
  margin-right: 35px;
}

.menu__button {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.menu__link {
  text-decoration: none;
  color: white;
  padding: 13px 37px 13px 0;
}
.menu__link:after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0%;
  width: 28px;
  height: 12px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-left: 30px;
}
.menu__link:hover {
  color: #ff4081;
  text-decoration: none;
  transition: 0.3s;
}
.menu__link:hover::after {
  border-color: #ff4081;
  transition: 0.3s;
}

/* ---Information panel--- */
.inf {
  font-size: 15px;
  line-height: 14px;
  font-weight: bold;
  justify-self: space-between;
}
.inf span {
  display: block;
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  opacity: 0.5;
}
.inf a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}
.inf a:hover {
  border-color: black;
}
.inf__wrap {
  display: flex;
  justify-content: space-between;
  padding: 42px 27px 0 30px;
}
.inf__block {
  margin-right: 11px;
  position: relative;
}
.inf__block::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(../img/phone.svg);
  position: absolute;
  top: 0%;
}
.inf__block-phone::before {
  margin-left: -32px;
}
.inf__block-hidden {
  display: none;
}
.inf__phone-perm,
.inf__phone {
  display: none;
}
.inf__block-email {
  margin-right: 80px;
}
.inf__block-email::before {
  background: url(../img/email.svg) no-repeat;
  top: 20%;
  margin-left: -32px;
  width: 23px;
}
.inf__logo {
  height: 105px;
  width: 199px;
  background: url(../img/head-logo.png) 50% 43% #f3f3f3 no-repeat;
  background-size: 86%;
  margin-left: -17px;
}
.inf__block-user {
  margin-left: 81px;
}
.inf__block-user::before {
  background: url(../img/user.svg) no-repeat;
  left: 106%;
}
.inf__block-shop {
  position: relative;
}
.inf__block-shop::before {
  background: url(../img/shop.svg) no-repeat;
  width: 23px;
  top: 4%;
  left: 115%;
}
.inf__block-shop::after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: -13%;
  right: -31%;
}
.block-shop-numb {
  font-family: "Futura New";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 17px;
  padding: 0 10px;
  height: 17px;
  background: black;
  border-radius: 4px;
  position: absolute;
  top: -85%;
  right: -41%;
}
.inf__block-shop a > .block-shop-numb {
  color: white;
}
/* ---Points panel--- */
.points {
  padding: 22px 0;
  border-top: 1px solid rgba(234, 235, 237, 0.6);
}
.points__list {
  margin: 0 -35px;
  display: flex;
  justify-content: space-between;
}
.points__item {
  display: inline;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  flex: 1 0 auto;
  position: relative;
}
.points__item a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.points__icon {
  fill: rgba(0, 0, 0, 0.3);
  height: 40px;
  margin: 0 auto 5px auto;
}
.points__title {
  position: relative;
}
.points-title-menu {
  margin-left: -10px;
}
.points-title-menu:after {
  content: "";
  position: absolute;
  margin-left: 5px;
  top: 21%;
  border: 4px solid transparent;
  border-top: 6px solid black;
}
.points__item a:hover > .points__icon {
  fill: rgba(0, 0, 0, 1);
}
/* ---main slider--- */
.slider {
  padding: 30px 0;
  position: relative;
  height: 578px;
  background: #f7f7f7;
  overflow: hidden;
}
.slider::before {
  content: "riter";
  text-transform: uppercase;
  font-size: 800px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: -35%;
  left: -5%;
}
.slider__item {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: opacity 1.3s;
}
.slider__title {
  margin-top: 65px;
  font-size: 60px;
  line-height: 69px;
  font-weight: normal;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 9;
}

.slider__subtitle {
  font-family: Georgia;
  font-style: italic;
  font-size: 21px;
  line-height: 26px;
  opacity: 0.7;
  margin-top: -25px;
  margin-bottom: 40px;
  position: relative;
  z-index: 9;
}
.slider__btn {
  margin-top: 25px;
  position: relative;
  z-index: 9;
}
.slider__btn a {
  padding: 17px 21px;
}
.slider__img {
  height: 578px;
  width: 800px;
  position: absolute;
  right: 0%;
  top: 0%;
}
.slider__img img {
  width: 100%;
  z-index: 1;
}
.slider__nav {
  margin-top: 487px;
  z-index: 99;
}
.slider__checkbox {
  display: inline-flex;
  width: 10px;
  height: 6px;
  background: #d7e4f4;
  border-radius: 2px;
  transition: width 1s;
}
.slider__checkbox:hover {
  background: #ff4081;
  transition: 0.4s;
}
.slider__checkbox-select {
  width: 44px;
  background: #2d54fb;
  transition: width 1s;
}
/* ---advantages--- */
.advantages {
  padding: 20px 0 71px 0;
}
.advantages__block {
  text-align: center;
  margin-top: 50px;
}
.advantages__icon {
  width: 30px;
  height: 30px;
}
.advantages__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 26px 0 24px 15px;
}
.advantages__text {
  font-family: Futura New;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 0.4;
}
.advantages__text:hover {
  opacity: 1;
  transition: all 0.9s ease-in-out;
}
/* ---products--- */
.products {
  font-family: Futura New;
  text-transform: uppercase;
  background: url(../img/prod-bg.svg) 0% 37% no-repeat;
  background-size: 40%;
  margin-bottom: 47px;
}
.products__item {
  margin-bottom: 30px;
  background: white;
  position: relative;
  display: flow-root;
}
.products__item:hover {
  background: rgb(250, 250, 250);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  margin-bottom: 5px;
  transition: all 0.5s ease;
}
.products__status {
  position: absolute;
  top: 1%;
  left: 0%;
}
.products__status a {
  color: white;
  background: black;
  letter-spacing: 0.2em;
  padding: 5px 6px 7px 6px;
  text-decoration: none;
}
.products__item img {
  width: 100%;
}
.products__info {
  padding-left: 22px;
}
.products__title {
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2em;
  padding-top: 19px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.products__title a {
  color: black;
  text-decoration: none;
  padding-bottom: 6px;
}
.products__title a:hover {
  text-decoration: underline;
}
.products__favorite {
  width: 19px;
  height: 16px;
  margin-right: 7px;
}
.products__item a:hover > .products__favorite {
  fill: red;
}
.products__art,
.products__prod {
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.5);
}
.products__prod a {
  color: black;
  text-decoration: underline;
}
.products__prod a:hover {
  text-decoration: none;
}
.products__price {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  position: relative;
}
.products__price a {
  padding-top: 9px;
  margin-bottom: 17px;
  display: inline-flex;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}
.products__price a:hover {
  border-color: black;
}
.products__price span {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-decoration-line: line-through;
  opacity: 0.3;
  position: absolute;
  top: 30%;
  right: 22%;
}
/* ---Cards--- */
.cards {
  margin-top: 12px;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
}
.cards__block {
  background: url(../img/cards-bg.png) #f3f3f3 100% no-repeat;
  width: 48%;
  padding: 44px 0px 59px 51px;
  margin: 19px 0px 0px 9px;
}
.cards__block:nth-child(3n + 1) {
  background: url(../img/cards-bg.png) #fff 100% no-repeat;
}
.cards__content {
  position: relative;
  z-index: 99;
}
.cards__title {
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
}
.cards__text {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;
  margin-top: 26px;
}
.cards__btn {
  margin-top: 140px;
}
.cards__btn a {
  padding: 14px 22px 12px 22px;
}
/* ---about--- */
.about {
  background: url(../img/about-bg.svg) 50% 68% no-repeat;
  position: relative;
  margin-top: 139px;
}
.about__title {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about__header {
  line-height: 42px;
  margin: 30px auto 37px auto;
}
.about__text {
  font-size: 16px;
  line-height: 30px;
  column-count: 2;
  column-width: 258px;
  column-gap: 58px;
  padding: 0px 83px;
}
.about__text-header {
  font-family: Futura New;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 34px 0 11px 0;
}
.about__more {
  font-size: 15px;
  line-height: 23px;
  padding: 6px 0 0 13px;
}
.about__more svg {
  width: 48px;
  height: 15px;
}

/* ---brands--- */
.brands {
  background: url(../img/brands-bg.svg) 0% -24% no-repeat,
    url(../img/brand-bg-right.svg) 100% 21% no-repeat;
  padding-bottom: 74px;
  position: relative;
  margin-top: 142px;
}
.brands__header {
  margin: 0 auto 57px auto;
}
.brands__list {
  display: flex;
  flex-wrap: wrap;
}
.brands__item {
  margin: 0 13px 36px 13px;
}

/* ---reviews--- */
.reviews {
  background: #f7f7f7;
  padding: 67px 0 99px 0;
}
.reviews__slider {
  position: relative;
}
.reviews__title {
  text-align: left;
  width: 100%;
}
.reviews__designers {
  font-weight: normal;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin: 24px 0 0 0;
}

.reviews__nav {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0%;
  top: 13%;
}
.reviews__nav svg {
  width: 60px;
  height: 60px;
  margin: 0 0 0 40px;
}
.reviews__nav svg:hover {
  opacity: 0.4;
}
.reviews__next {
  transform: rotate(180deg);
  opacity: 0.5;
}
.reviews__list {
  display: inline-flex;
  margin-top: 86px;
}
.reviews__item {
  font-family: Futura New;
  width: 40%;
  margin-right: 60px;
}
.reviews__item-opacity {
  opacity: 0.5;
}
.reviews__user {
  display: inline-flex;
}
.reviews__photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: -3px 7px 21px rgba(0, 0, 0, 0.5);
}
.reviews__info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.reviews__name {
  font-size: 20px;
  line-height: 30px;
}
.reviews__prof,
.reviews__city {
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 1px 0 2px 0;
}
.reviews__site {
  font-size: 16px;
  line-height: 20px;
}
.reviews__site a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}
.reviews__site a:hover {
  border-color: black;
}
.reviews__text {
  font-size: 16px;
  line-height: 24px;
  background: white;
  box-shadow: -10px 14px 60px rgba(0, 0, 0, 0.07);
  border-radius: 0 50px 50px 50px;
  padding: 33px;
  margin: 21px 0 0 0;
}
/* ---follow--- */
.follow {
  background: url(../img/follow-bg.jpg) no-repeat;
  background-size: cover;
}
.follow__block {
  display: inline-flex;
  background: white;
  box-shadow: -20px 4px 54px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: 84px 0;
  padding: 28px 30px 21px 30px;
}
.follow__text {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 74px;
}
.follow__text span {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.4;
}
.follow__btn {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.follow__btn a {
  padding: 13px;
}
/* ---blog--- */
.blog {
  background: #f9f9f9;
  padding: 73px 0 54px 0;
}
.blog__header {
  text-align: left;
  width: 100%;
  padding: 0 0 0 97px;
}

.blog__news {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  margin: 62px -26px 0 0;
  justify-content: flex-end;
}

.blog__news svg {
  height: 16px;
}

.blog__list {
  margin-top: 81px;
}
.blog__block {
  background: white;
  border-radius: 5px;
  box-shadow: -30px 24px 84px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
.blog__block img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}
.blog__info {
  padding: 17px 71px 20px 20px;
}
.blog__date {
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}
.blog__date a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}
.blog__date a:hover {
  border-color: black;
}
.blog__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 12px;
}
.blog__title a {
  color: black;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: 0.4s;
}
.blog__title a:hover {
  border-color: black;
}
.blog__text {
  font-size: 13px;
  line-height: 19px;
  opacity: 0.4;
  margin-top: 8px;
}
.blog__more {
  letter-spacing: 0.12em;
  margin: 62px 0 0 0;
}
/* ---footer--- */
.footer {
  font-family: "Futura New";
  background: black;
  color: white;
  text-transform: uppercase;
  padding-top: 18px;
}

.footer a {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed transparent;
  transition: 0.4s;
}
.footer__block {
  margin-top: 39px;
  letter-spacing: 0.2em;
}
.footer__block li {
  list-style-type: none;
  line-height: 13px;
  margin-bottom: 7.4px;
}
.footer__block a:hover {
  border-color: white;
}
.footer__heading {
  font-family: "Futura New Demi";
  font-size: 19px;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
  width: 100%;
}
.footer__heading-form {
  text-align: right;
}

.footer__form {
  margin: 25px 0 0 100px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  position: relative;
}
.footer__input {
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  background: black;
  border: none;
  font-size: 18px;
  outline: none;
  padding-right: 35px;
  width: 100%;
}

::placeholder {
  color: white;
}

.footer__btn {
  width: 30px;
  height: 30px;
  background: #1d1c1c;
  border: none;
  border-radius: 9px;
  position: absolute;
  top: -30%;
  right: 0%;
}
.footer__btn svg {
  width: 16px;
  height: 16px;
  fill: white;
}
.footer__btn svg:hover {
  fill: #c6ff00;
}
.footer__social {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.footer__social a {
  text-decoration: none;
}
.footer__social a:hover {
  border-color: transparent;
}
.footer__social svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  fill: white;
}
.footer__social svg:hover {
  fill: #ff4081;
}

.footer__copyright {
  margin: 105px 0 25px 0;
  text-transform: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright a {
  color: white;
  border-bottom: 1px solid white;
  transition: 0.4s;
}
.footer__copyright a:hover {
  border-color: transparent;
}
