* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-size: 10px;
}

.text-align-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}

.blue-button a {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  line-height: 15px;
  background: linear-gradient(
    106.57deg,
    #807fd4 0%,
    #609ce2 0.01%,
    #2346ff 100%
  );
  box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
  border-radius: 4px;
  text-decoration: none;
}
.blue-button a:hover {
  background: linear-gradient(
    106.57deg,
    #807fd4 0.01%,
    #609ce2 0.01%,
    #2346ff 10%
  );
  box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
}
.header-block {
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 60%;
}
/* ---Header menu--- */
.menu {
  background: black;
  text-transform: uppercase;
  line-height: 11px;
  letter-spacing: 0.1em;
  padding: 15px 0 13px 0;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  color: #91aef5;
}
.menu__item {
  list-style-type: none;
  display: inline-flex;
  margin-right: 39px;
}
.menu__button {
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
}
.menu__link {
  display: inline-flex;
  align-items: center;
}
.menu__icon {
  width: 28px;
  height: 12px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 13px;
}
.menu__button a:hover > .menu__icon {
  border-color: #91aef5;
}

/* ---Information panel--- */
.inf {
  font-size: 15px;
  font-weight: bold;
  justify-self: space-between;
}
.inf span {
  display: flex;
  font-size: 10px;
  opacity: 0.5;
}
.inf a {
  color: black;
  text-decoration: none;
}
.inf a:hover {
  text-decoration: underline;
}
.inf__wrap {
  display: inline-flex;
}
.inf__block {
  margin-right: 11px;
  padding: 45px 13px 26px 33px;
  position: relative;
}
.inf__block::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(../img/phone.svg);
  position: absolute;
  top: 50%;
  left: 0%;
}
.inf__block-email::before {
  background: url(../img/email.svg) no-repeat;
  top: 53%;
  width: 23px;
}
.inf__logo {
  height: 105px;
  width: 199px;
  background: url(../img/head-logo.png) 50% 43% #f3f3f3 no-repeat;
  background-size: 86%;
  margin-left: 80px;
}
.inf__block-user {
  text-align: right;
  padding-left: 23px;
}
.inf__block-user::before {
  background: url(../img/user.svg) no-repeat;
  left: 100%;
}
.inf__block-shop::before {
  background: url(../img/shop.svg) no-repeat;
  width: 23px;
  left: 100%;
}
.block-shop__numb {
  font-family: "Futura New";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 17px;
  width: 27px;
  height: 17px;
  background: black;
  border-radius: 4px;
  position: absolute;
  top: 25%;
  right: -17%;
}
.inf__block-shop a > .block-shop__numb {
  color: white;
}

.block-shop__numb::after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: 100%;
  right: 27%;
}
/* ---Points panel--- */
.points {
  padding: 22px 0;
  border-top: 1px solid rgba(234, 235, 237, 0.6);
}
.points__list {
  display: flex;
  justify-content: space-between;
}
.points__item {
  display: inline;
  text-align: center;
  flex: 1 0 auto;
  position: relative;
}
.points__item:first-child {
  flex: 0;
  padding-left: 12px;
}
.points__item:last-child {
  flex: 0;
  margin-right: 12px;
  width: 150px;
  text-align: left;
}
.points__item a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.points__icon {
  fill: rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 40px;
  margin-bottom: 8px;
}
.points span {
  font-size: 9px;
  position: absolute;
  top: 78%;
  right: -10%;
}
.points__item a:hover > .points__icon {
  fill: rgba(0, 0, 0, 1);
}
/* ---main slider--- */
.main-slider {
  height: 578px;
}
.main-slider__item {
  height: 100%;
  width: 100%;
  background: url(../img/main-slider-bg.jpg) no-repeat;
  background-size: cover;
}
.main-slider__title {
  font-size: 60px;
  line-height: 69px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 63px;
}

.main-slider__subtitle {
  font-family: Georgia;
  font-style: italic;
  font-size: 21px;
  line-height: 26px;
  opacity: 0.7;
  margin-top: -25px;
  margin-bottom: 47px;
}
.main-slider__btn {
  margin-top: 25px;
}
.main-slider__btn a {
  padding: 21px 22px 16px 20px;
}

.main-slider__nav {
  margin-top: 191px;
}
.main-slider__checkbox {
  display: inline-flex;
  width: 10px;
  height: 6px;
  background: #d7e4f4;
  border-radius: 2px;
}
.main-slider__checkbox-select {
  width: 44px;
  background: #2d54fb;
}
/* ---advantages--- */
.advantages {
  padding: 70px 0;
}
.advantages__block {
  text-align: center;
  margin-top: 50px;
}
.advantages__icon {
  width: 30px;
  height: 30px;
}
.advantages__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 33px 0 19px 0;
}
.advantages__text {
  font-family: Futura New;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 0.4;
}
/* ---products--- */
.products {
  font-family: Futura New;
  text-transform: uppercase;
}
.products__item {
  padding-left: 22px;
  margin-bottom: 40px;
  background: white;
}
.products__item:hover {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.6);
  margin-top: -5px;
  margin-bottom: 5px;
}
.products__status {
  position: absolute;
  top: 1%;
  left: 12.5%;
}
.products__status a {
  color: white;
  background: black;
  letter-spacing: 0.2em;
  padding: 5px 6px 7px 6px;
}
.products__item img,
.products__status {
  margin-left: -22px;
  z-index: 99;
}
.products__title {
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2em;
  padding-top: 19px;
  padding-right: 70px;
  position: relative;
}
.products__title a {
  color: black;
  text-decoration: none;
  display: block;
  padding-bottom: 6px;
}
.products__title a:hover {
  text-decoration: underline;
}
.products__favorite {
  width: 18px;
  height: 16px;
  position: absolute;
  top: 26%;
  right: 6.5%;
}
.products__item a:hover > .products__favorite {
  fill: red;
}
.products__art,
.products__prod {
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.5);
}
.products__prod a {
  color: black;
  text-decoration: underline;
}
.products__prod a:hover {
  text-decoration: none;
}
.products__price {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  position: relative;
}
.products__price a {
  padding-top: 9px;
  padding-bottom: 17px;
  display: inline-flex;
  color: black;
}
.products__price span {
  padding-left: 5px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-decoration-line: line-through;
  opacity: 0.3;
  position: absolute;
  top: 30%;
  right: 22%;
}
/* ---Cards--- */
.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards__block {
  background: url(../img/cards-bg.png) #f3f3f3 100% no-repeat;
  padding: 50px;
  width: 49%;
  margin: 19px 0px 0px 9px;
}
.cards__block:nth-child(3n + 1) {
  background: url(../img/cards-bg.png) #fff 100% no-repeat;
}
.cards__title {
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  width: 60%;
}
.cards__text {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;
  width: 50%;
  margin-top: 26px;
}
.cards__btn {
  margin-top: 135px;
}
.cards__btn a {
  padding: 14px 22px 12px 22px;
}
/* ---about--- */
.about {
  background: url(../img/about-bg.svg) 50% 68% no-repeat;
}
.about__title {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 144px;
}
.about__header {
  line-height: 42px;
  margin: 30px auto 37px auto;
}
.about__text {
  font-size: 16px;
  line-height: 30px;
  column-count: 2;
  column-width: 258px;
  column-gap: 58px;
  padding: 0px 83px;
}
.about__text-header {
  font-family: Futura New;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 34px 0 11px 0;
}
.about__more {
  font-size: 15px;
  font-weight: bold;
  line-height: 23px;
  text-transform: uppercase;
  padding: 6px 0 0 13px;
}
.about__more a {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
}
.about__arrow {
  width: 50px;
  height: 30px;
  position: absolute;
  right: 12%;
  top: -25%;
}
.about__more a:hover {
  color: #91aef5;
}
.about__more a:hover > .about__arrow {
  fill: #91aef5;
}
/* ---brands--- */
.brands__header {
  margin: 150px auto 57px auto;
}
.brands__item {
  display: inline-flex;
  margin: 0 28px 36px 0;
}
.brands__item:nth-child(6n) {
  margin-right: 0;
}
/* ---reviews--- */
.reviews {
  background: #f7f7f7;
  padding: 67px 0 99px 0;
  margin-top: 6px;
}
.reviews__slider {
  position: relative;
}
.reviews__header {
  padding-left: 96px;
}
.reviews__title {
  text-align: left;
  width: 50%;
}
.reviews__designers {
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 24px 0 0 0;
}
.reviews__designers a {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
}
.reviews__designers a:hover {
  color: #91aef5;
}
.reviews__arrow {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 42%;
  top: -79%;
}
.reviews__designers a:hover > .reviews__arrow {
  fill: #91aef5;
}
.reviews__nav {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0%;
  top: 13%;
}
.reviews__nav svg {
  width: 60px;
  height: 60px;
  margin: 0 0 0 40px;
}
.reviews__nav svg:hover {
  opacity: 0.4;
}
.reviews__next {
  transform: rotate(180deg);
  opacity: 0.5;
}
.reviews__list {
  display: inline-flex;
  margin-top: 86px;
}
.reviews__item {
  font-family: Futura New;
  width: 40%;
  margin-right: 60px;
}
.reviews__item-opacity {
  opacity: 0.5;
}
.reviews__user {
  display: inline-flex;
}
.reviews__photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: -3px 7px 21px rgba(0, 0, 0, 0.5);
}
.reviews__info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.reviews__name {
  font-size: 20px;
  line-height: 30px;
}
.reviews__prof,
.reviews__city {
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 1px 0 2px 0;
}
.reviews__site {
  font-size: 16px;
  line-height: 20px;
}
.reviews__site a {
  color: black;
}
.reviews__text {
  font-size: 16px;
  line-height: 23px;
  background: white;
  box-shadow: -10px 14px 60px rgba(0, 0, 0, 0.07);
  border-radius: 0 50px 50px 50px;
  padding: 33px;
  margin: 21px 0 0 0;
}
/* ---follow--- */
.follow {
  background: url(../img/follow-bg.jpg) no-repeat;
  background-size: cover;
}
.follow__block {
  display: inline-flex;
  background: white;
  box-shadow: -20px 4px 54px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: 84px 0;
  padding: 28px 30px 21px 30px;
}
.follow__text {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 74px;
}
.follow__text span {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.4;
}
.follow__btn {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.follow__btn a {
  padding: 13px;
}
/* ---blog--- */
.blog {
  background: #f9f9f9;
  padding: 73px 0 74px 0;
}
.blog__header {
  text-align: left;
  width: 100%;
  padding: 0 0 0 97px;
}

.blog__news {
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 65px -23px 0 0;
  display: flex;
  justify-content: flex-end;
}
.blog__news a {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
  padding: 0 80px 0 0;
}
.blog__news a:hover {
  color: #91aef5;
}
.blog__all {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 68%;
  top: -22%;
}
.blog__news a:hover > .blog__all {
  fill: #91aef5;
}

.blog__list {
  margin-top: 84px;
}
.blog__block {
  background: white;
  border-radius: 5px;
  box-shadow: -30px 24px 84px rgba(0, 0, 0, 0.04);
}
.blog__block img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}
.blog__info {
  padding: 17px 71px 20px 20px;
}
.blog__date {
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}
.blog__date a {
  color: black;
}
.blog__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 12px;
}
.blog__title a {
  color: black;
}
.blog__text {
  font-size: 13px;
  line-height: 19px;
  opacity: 0.4;
  margin-top: 8px;
}
.blog__more {
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 62px 0 0 0;
}
.blog__more a {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
}
.blog__more a:hover {
  color: #91aef5;
}
.blog__arrow {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 52%;
  top: -79%;
}
.blog__more a:hover > .blog__arrow {
  fill: #91aef5;
}
/* ---footer--- */
footer {
  font-family: "Futura New";
  background: black;
  color: white;
  margin-top: 76px;
  text-transform: uppercase;
  padding-top: 18px;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.footer__block {
  margin-top: 39px;
  letter-spacing: 0.2em;
}

.footer__heading {
  font-family: "Futura New Demi";
  font-size: 19px;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
  width: 100%;
}

.footer__block li {
  list-style-type: none;
  line-height: 12px;
  margin-bottom: 7.4px;
}

.footer__copyright {
  margin: 110px 0 25px 0;
  text-transform: none;
  font-size: 12px;
}

.footer__copyright a {
  float: right;
  color: white;
  text-decoration: underline;
}

.footer__form {
  margin: 25px 0 0 100px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  position: relative;
}
.footer__input {
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  background: black;
  border: none;
  font-size: 18px;
  outline: none;
}

::placeholder {
  color: white;
}

.footer__btn {
  width: 30px;
  height: 30px;
  background: #1d1c1c;
  border: none;
  border-radius: 9px;
  float: right;
  position: absolute;
  top: -30%;
  right: 0%;
}

.footer__social {
  margin-top: 31px;
  float: right;
}

.footer__social a:hover {
  color: #91aef5;
  border: none;
}
